{{#jqm-popup id=pId title=(t 'login.text.signup') theme="a" closeButton=true dismissible="false"}}
  <form {{action "submit" on="submit"}}>
    {{jqm-textinput value=model.username placeholder=(t 'login.signup-p.username-f') required=true pattern='[A-Za-z0-9]+'}}
    {{jqm-textinput value=model.password type="password" placeholder=(t 'login.signup-p.password-f') required=true}}
    {{jqm-textinput value=model.rPassword type="password" placeholder=(t 'login.signup-p.repeat-password-f') required=true}}
    {{jqm-textinput value=model.email type="email" placeholder=(t 'login.signup-p.email-f') required=true}}
    {{jqm-textinput value=model.rEmail type="email" placeholder=(t 'login.signup-p.repeat-email-f') required=true}}
    {{jqm-select value=model.region theme="d" options=regions}}
    {{jqm-button text=(t 'login.signup-p.signup-btn') icon="check" theme="b" disabled=cantSubmit}}
  </form>
  {{ermes-message text=error color="red" animation="fadeInDown"}}
  {{ermes-message text=info color="blue" animation="fadeIn"}}
  {{#if success}}
    <p align="center" class="animated fadeInDown" style="color: #669933;"><b>{{t 'panel.notification.welcome' username=model.username}}.<br>
        {{t 'panel.notification.login-allowed'}} <a href="" {{action 'showLoginPopup'}}>{{t 'login.text.login'}}</a></b></p>
  {{/if}}
{{/jqm-popup}}