{{#ermes-panel id=panelId title=(t "fields.ui-special.agrochemicals")}}
  <form {{action "submit" on="submit"}}>
    <label>
      <span>{{t "panel.agrochemicals.date"}}</span>
      {{ermes-datepicker value=model.observationDate}}
    </label>
    {{ermes-message text=dateError color="red" animation="fadeInDown"}}
    <label>
      <span>{{t "panel.agrochemicals.product"}}</span>
      {{jqm-select value=model.name theme="d" options=products}}
    </label>
    <label>
      <span>{{t "panel.agrochemicals.quantity"}}</span>
      {{jqm-textinput value=model.amount type="number" min=0 step=0.01 placeholder=(t "panel.agrochemicals.quantity-unit") required=true}}
    </label>
    {{jqm-button text=(t "fields.text.add-new") theme="b"}}
    {{ermes-message text=parcelError color="red" animation="fadeInDown"}}
    {{ermes-message text=info color="blue" animation="fadeInDown"}}
  </form>
{{/ermes-panel}}