{{#ermes-panel id=panelId title=(t 'fields.text.crop-info')}}
  <form {{action "submit" on="submit"}}>
    <label>
      <span>{{t "panel.crop-info.crop-type"}}</span>
      {{jqm-select value=model.cropType theme="d" options=cropTypes}}
    </label>
    <label>
      <span>{{t "panel.crop-info.rice-variety"}}</span>
      {{jqm-select value=model.riceVariety theme="d" options=riceVarieties isDisabled=notIsRice}}
    </label>
    <label>
        <span>{{t "panel.crop-info.pudding"}}</span>
      {{jqm-select value=model.pudding theme="d" options=puddings isDisabled=notIsRice}}
    </label>
    <label>
      <span>{{t "panel.crop-info.sowing-practice"}}</span>
      {{jqm-select value=model.sowingPractice theme="d" options=sowingPractices isDisabled=notIsRice}}
    </label>
    <label>
      <span>{{t "panel.crop-info.date"}}</span>
      {{jqm-datepicker value=model.date}}
    </label>
    {{jqm-button text=(t "fields.text.add-new") theme="b"}}
    {{ermes-message text=parcelError color="red" animation="fadeInDown"}}
    {{ermes-message text=info color="blue" animation="fadeInDown"}}
  </form>
{{/ermes-panel}}