{{#ermes-panel id=panelId title=(t 'fields.text.crop-phenology')}}
  <form {{action 'submit' on='submit'}}>
    <label>
      <span>{{t 'panel.crop-phenology.date'}}</span>
      {{ermes-datepicker value=model.observationDate required=true}}
    </label>
    {{ermes-message text=dateError color="red" animation="fadeInDown"}}
    <label>
      <span>{{t 'panel.crop-phenology.development-stage'}}</span>
      {{jqm-select value=model.developmentStage theme='d' options=developmentStages}}
    </label>
    <label>
      <span>{{t 'panel.crop-phenology.bbch'}}</span>
      {{jqm-select value=model.growthStage theme='d' options=phenologyGrowth}}
    </label>
    {{jqm-select value=model.code theme='d' options=actualPhenologyCodes isDisabled=hasNoStage}}
    {{jqm-button text=(t 'fields.text.add-new') theme='b'}}
    {{ermes-message text=parcelError color="red" animation="fadeInDown"}}
    {{ermes-message text=info color="blue" animation="fadeInDown"}}
  </form>
{{/ermes-panel}}