{{#ermes-panel id=panelId title=(t 'fields.text.crop-info')}}
  <form {{action "submit" on="submit"}}>
    <label>
      <span>{{t "panel.crop-info.crop-type"}}</span>
      {{jqm-select value=model.cropType theme="d" options=cropTypes}}
    </label>
    <label>
      <span>{{t "panel.crop-info.rice-variety"}}</span>
      {{jqm-select value=model.riceVariety theme="d" options=riceVarieties isDisabled=notIsRice}}
    </label>
    <label>
        <span>{{t "panel.crop-info.puddling"}}</span>
      {{jqm-select value=model.puddling theme="d" options=puddlings isDisabled=notIsRice}}
    </label>
    <label>
      <span>{{t "panel.crop-info.sowing-type"}}</span>
      {{jqm-select value=model.sowingType theme="d" options=sowingTypes isDisabled=notIsRice}}
    </label>
    <label>
      <span>{{t "panel.crop-info.amount"}}</span>
      {{jqm-textinput type='number' min=0 step=0.01 value=model.seedsPerHa placeholder=(t "panel.crop-info.seeds-per-ha") theme="d"}}
    </label>
    <label>
      <span>{{t "panel.crop-info.date"}}</span>
      {{ermes-datepicker value=model.sowingDate}}
    </label>
    {{jqm-button text=(t "fields.text.add-new") theme="b"}}
    {{ermes-message text=parcelError color="red" animation="fadeInDown"}}
    {{ermes-message text=info color="blue" animation="fadeInDown"}}
  </form>
{{/ermes-panel}}