{{#ermes-panel id=panelId title=(t 'fields.text.fertilizers')}}
  <form>
    <label>
        <span>{{t "panel.fertilizers.date"}}</span>
      {{jqm-datepicker}}
    </label>
    <label>
        <span>{{t "panel.fertilizers.product"}}</span>
      {{jqm-select theme="d" options=products}}
    </label>
    <label>
        <span>{{t "panel.fertilizers.quantity"}}</span>
      {{jqm-textinput type="number" step=0.01 placeholder=(t "panel.fertilizers.quantity-unit")}}
    </label>
    <label>
        <span>{{t "panel.fertilizers.nitrogen"}}</span>
      {{jqm-textinput type="number" step=0.01 placeholder=(t "panel.fertilizers.nitrogen-unit")}}
    </label>
    <label>
        <span>{{t "panel.fertilizers.phosphorus"}}</span>
      {{jqm-textinput type="number" step=0.01 placeholder=(t "panel.fertilizers.phosphorus-unit")}}
    </label>
    <label>
        <span>{{t "panel.fertilizers.potassium"}}</span>
      {{jqm-textinput type="number" step=0.01 placeholder=(t "panel.fertilizers.potassium-unit")}}
    </label>
    {{jqm-button text=(t "fields.text.add-new") action=(action "submit" on="submit") theme="b"}}
  </form>
{{/ermes-panel}}