{{#ermes-panel id=panelId title=(t 'fields.text.irrigation')}}
  <form {{action "submit" on="submit"}}>
    <label>
      <span>{{t "panel.irrigation.start-date"}}</span>
      {{ermes-datepicker value=model.startDate}}
    </label>
    {{ermes-message text=startDateError color="red" animation="fadeInDown"}}
    <label>
      <span>{{t "panel.irrigation.end-date"}}</span>
      {{ermes-datepicker value=model.endDate}}
    </label>
    {{ermes-message text=endDateError color="red" animation="fadeInDown"}}
    <label>
      <span>{{t "panel.irrigation.measure"}}</span>
      {{jqm-select value=model.measureUnit theme="d" options=measures}}
    </label>
    {{#if hasMM}}
      <label>
        <span>{{t "panel.irrigation.quantity"}}</span>
        {{jqm-textinput value=model.waterQuantity type="number" min=0 step=0.01 placeholder=(t "panel.irrigation.quantity-unit-mm") required=true}}
      </label>
    {{else}}
      <label>
        <span>{{t "panel.irrigation.quantity"}}</span>
        {{jqm-textinput value=model.waterQuantity type="number" min=0 step=0.01 placeholder=(t "panel.irrigation.quantity-unit-m3") required=true}}
      </label>
      <label>
        <span>{{t "panel.irrigation.hours"}}</span>
        {{jqm-textinput value=model.waterHours type="number" min=0 step=1 placeholder=(t "panel.irrigation.hours-unit") required=true}}
      </label>
    {{/if}}
    <label>
      <span>{{t "panel.irrigation.height"}}</span>
      {{jqm-slider value=model.waterHeight min=0 max=100 theme="d"}}
    </label>
    {{jqm-button text=(t "fields.text.add-new") theme="b"}}
    {{ermes-message text=parcelError color="red" animation="fadeInDown"}}
    {{ermes-message text=info color="blue" animation="fadeInDown"}}
  </form>
{{/ermes-panel}}