{{#ermes-panel id=panelId title=(t "fields.text.parcel-info")}}
  {{#if model}}
    <p>{{t 'panel.parcel-info.crop-info-text'}}</p>
    <table>
      <tr>
        <th>{{t 'fields.text.crop-info'}}</th>
        <th>{{t 'panel.parcel-info.info-table-content'}}</th>
      </tr>
      <tr>
        <td><b>{{t 'panel.crop-info.crop-type'}}</b></td>
        <td>{{cropType}}</td>
      </tr>
      <tr>
        <td><b>{{t 'panel.crop-info.rice-variety'}}</b></td>
        <td>{{riceVariety}}</td>
      </tr>
    </table>
    <p>{{t 'panel.parcel-info.product-text'}}</p>
    <table>
      <tr>
        <th>{{t 'panel.parcel-info.product-table-product'}}</th>
        <th>{{t 'panel.parcel-info.product-table-date'}}</th>
      </tr>
      {{#each products as |product|}}
        <tr>
          <td><b>{{product.text}}</b></td>
          <td>{{lastProductDate}}</td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    {{#unless loading}}
      <p>{{t 'panel.parcel-info.none-selected'}}</p>
    {{/unless}}
  {{/if}}
  {{#if loading}}
    <p>{{t 'panel.notification.processing'}}</p>
    <div class="animated pulse infinite">
      <img src="/assets/ermes-images/logo.png">
    </div>  {{/if}}
{{/ermes-panel}}