{{#ermes-panel id=panelId title=(t 'fields.options-m.profile')}}
  <form>
      {{#jqm-collapsibleset inset="false" theme="c"}}
        {{#jqm-collapsible collapsed="false"}}
          <h4>{{t "panel.profile.picture-section"}}</h4>
          <div class="ermes-circular-image">
              <img src="assets/ermes-images/user_icon.png">
          </div>
        {{/jqm-collapsible}}
        {{#jqm-collapsible}}
          <h4>{{t "panel.profile.username-section"}}</h4>
          <p>{{username}}</p>
        {{/jqm-collapsible}}
        {{#jqm-collapsible}}
          <h4>{{t "panel.profile.email-section"}}</h4>
          <p>{{email}}</p>
          {{jqm-textinput type="email" placeholder=(t "panel.profile.email-tooltip")}}
        {{/jqm-collapsible}}
        {{#jqm-collapsible}}
          <h4>{{t "panel.profile.password-section"}}</h4>
          {{jqm-textinput type="password" placeholder=(t "panel.profile.old-password-tooltip")}}
          {{jqm-textinput type="password" placeholder=(t "panel.profile.new-password-tooltip")}}
          {{jqm-textinput type="password" placeholder=(t "panel.profile.repeat-new-password-tooltip")}}
        {{/jqm-collapsible}}
      {{/jqm-collapsibleset}}
      {{jqm-button action=(action "submit" on="submit") text=(t "panel.profile.update") theme="b"}}
  </form>
  {{jqm-button text=(t "panel.profile.logout") theme="d" icon="power" iconPos="left"}}
{{/ermes-panel}}