{{#ermes-panel id=panelId title=(t 'fields.options-m.profile')}}
  <form {{action "submit" on="submit"}}>
      {{#jqm-collapsibleset inset="false" theme="c"}}
        {{#jqm-collapsible collapsed="false"}}
          <h4>{{t "panel.profile.picture-section"}}</h4>
          <div class="ermes-circular-image">
              <img src="assets/ermes-images/user_icon.png">
          </div>
        {{/jqm-collapsible}}
        {{#jqm-collapsible}}
          <h4>{{t "panel.profile.username-section"}}</h4>
          <p>{{model.username}}</p>
        {{/jqm-collapsible}}
        {{#jqm-collapsible}}
          <h4>{{t "panel.profile.email-section"}}</h4>
          <p>{{model.email}}</p>
          {{jqm-textinput value=newModel.email type="email" placeholder=(t "panel.profile.email-tooltip")}}
        {{/jqm-collapsible}}
        {{#jqm-collapsible}}
          <h4>{{t "panel.profile.password-section"}}</h4>
          {{jqm-textinput value=newModel.oldPass type="password" placeholder=(t "panel.profile.old-password-tooltip")}}
          {{jqm-textinput value=newModel.newPass type="password" placeholder=(t "panel.profile.new-password-tooltip")}}
          {{jqm-textinput value=newModel.rNewPass type="password" placeholder=(t "panel.profile.repeat-new-password-tooltip")}}
        {{/jqm-collapsible}}
        {{#jqm-collapsible}}
          <h4>{{t "panel.profile.language-section"}}</h4>
          {{jqm-select value=i18n.locale theme="c" options=languages}}
        {{/jqm-collapsible}}
        {{#jqm-collapsible}}
            <h4>{{t "panel.profile.services"}}</h4>
            <label>{{jqm-checkbox checked=model.enableNotifications mini="true"}} {{t 'panel.profile.enable-notifications'}}</label>
            <label>{{jqm-checkbox checked=model.enableAlerts mini="true"}} {{t 'panel.profile.enable-alerts'}}</label>
        {{/jqm-collapsible}}
      {{/jqm-collapsibleset}}
      {{jqm-button text=(t "panel.profile.update") theme="b"}}
      {{ermes-message text=info color="blue" animation="fadeInDown"}}
      {{ermes-message text=error color="red" animation="fadeInDown"}}
  </form>
  {{jqm-button action='logOut' text=(t "panel.profile.logout") theme="d" icon="power" iconPos="left"}}
{{/ermes-panel}}