{{#ermes-panel id=panelId title=(t 'fields.text.soil-condition')}}
  <form>
    <label>
        <span>{{t "panel.soil-condition.status"}}</span>
      {{jqm-select theme="d"}}
    </label>
    <label>
        <span>{{t "panel.soil-condition.date"}}</span>
      {{jqm-datepicker}}
    </label>
    {{jqm-button text=(t "fields.text.add-new") action=(action "submit" on="submit") theme="b"}}
  </form>
{{/ermes-panel}}