{{#ermes-panel id=panelId title=(t 'fields.text.yield')}}
  <form {{action "submit" on="submit"}}>
    <label>
      <span>{{t "panel.yield.date"}}</span>
      {{ermes-datepicker value=model.date}}
    </label>
    {{ermes-message text=dateError color="red" animation="fadeInDown"}}
    <label>
      <span>{{t "panel.yield.yield"}}</span>
      {{jqm-textinput value=model.yield type="number" min=0 step=0.01 placeholder=(t "panel.yield.yield-unit") required=true}}
    </label>
    <label>
      <span>{{t "panel.yield.comments"}}</span>
      {{jqm-textarea value=model.comments}}
    </label>
    {{jqm-button text=(t "fields.text.add-new") theme="b"}}
    {{ermes-message text=parcelError color="red" animation="fadeInDown"}}
    {{ermes-message text=info color="blue" animation="fadeInDown"}}
  </form>
{{/ermes-panel}}