{{#jqm-page}}
  {{#jqm-content}}
      <div align="center">
          <p>
              <span>Input</span>
              URL: {{downloadUrl}}
              File: {{assetsKey}}
              Details: {{assetsDetails}}
          </p>

          <p>
              <span>Progress</span>
              progress: {{progressLoaded}}
              progressTotal: {{progressTotal}}
              normalizedProgress: {{normalizedProgress}}
          </p>

          <p>
              <span>Output</span>
              Error: {{downloadError}}
          </p>

          {{progress-bar type="Circle" progress=normalizedProgress count=progressLoaded color="#8cc63f" fill="#fff" strokeWidth=3 }}

      </div>
  {{/jqm-content}}
{{/jqm-page}}