<div class="ui-page-theme-a">
  {{#jqm-content}}
      <div align="center">

        {{!--
        <p>
            <span>Input</span>
            URL: {{downloadUrl}}
            File: {{assetsKey}}
            Details: {{assetsDetails}}
        </p>

        <p>
            <span>Progress</span>
            progress: {{progressLoaded}}
            progressTotal: {{progressTotal}}
            normalizedProgress: {{normalizedProgress}}
        </p>

        <p>
            <span>Output</span>
            Error: {{downloadError}}
        </p>
        --}}
          <p>
              <span>Downloading some application resources </span>
          </p>

          <div style="max-width: 300px">
            {{progress-bar type="Circle" progress=normalizedProgress count=progressLoaded color="#8cc63f" fill="#fff" strokeWidth=3 }}
          </div>

        {{#if downloadError}}
            <p>
                <span>An error occurred while downloading the application resources..</span>
            </p>

          {{jqm-button text='retry' action='downloadAsset' inline='true' mini='true' theme='b'}}
        {{/if}}
      </div>
  {{/jqm-content}}
</div>
