<!-- Download asset page -->
<div class="ermes-full-window ui-page-theme-a">
  {{#jqm-content}}
      <div class="ermes-center-content" align="center">
        {{#if downloadError}}
            <div>
                <img src="assets/ermes-images/logo.png">
            </div>
            <br>
            <p>
                <span>{{t 'download-assets.download-error'}}</span>
            </p>

          {{jqm-anchor text=(t 'download-assets.retry') action='downloadAsset' inline='true' mini='true' theme='b'}}
        {{else}}
          {{#if askingForDownload}}
              <div class="animated bounceIn">
                  <img src="assets/ermes-images/logo.png">
              </div>
              <br>
              <p>{{t 'download-assets.download-basemap'}}</p>
              <p style="font-size: small">{{t 'download-assets.download-advantages'}}</p>
              <p>
                {{jqm-anchor text=(t 'download-assets.proceed') action='confirmDownload' inline='true' mini='true' theme='b'}}
                {{jqm-anchor text=(t 'download-assets.later') action='rejectDownload' inline='true' mini='true' theme='b'}}
              </p>
          {{else}}
            {{#unless connectionAcceptable}}
                <div class="animated flash">
                    <img src="assets/ermes-images/logo.png">
                </div>
                <br>
                <span>{{t 'download-assets.connection-acceptable'}}</span>
                <p>
                  {{jqm-anchor text=(t 'download-assets.it-is-ok') action='confirmConnection' inline='true' mini='true' theme='b'}}
                  {{jqm-anchor text=(t 'download-assets.no-way') action='rejectDownload' inline='true' mini='true' theme='b'}}
                </p>
            {{else}}
                <p>
                    <span>{{t 'download-assets.downloading-assets'}}</span>
                </p>
                <br>
                <div style="max-width: 260px">
                  {{progress-bar type="Circle" progress=normalizedProgress count=progressLoaded total=progressTotal color="#8cc63f" fill="#fff" strokeWidth=3 }}
                </div>

            {{/unless}}

          {{/if}}
        {{/if}}
      </div>
  {{/jqm-content}}
</div>



{{!--
{{#unless isWifinetwork }}
  <p>
      <span>An error occurred while downloading the application resources..</span>
  </p>

{{jqm-button text='retry' action='downloadAsset' inline='true' mini='true' theme='b'}}
{{/unless}}
--}}

{{!--
<p>
    <span>Input</span>
    URL: {{downloadUrl}}
    File: {{assetsKey}}
    Details: {{assetsDetails}}
</p>

<p>
    <span>Progress</span>
    progress: {{progressLoaded}}
    progressTotal: {{progressTotal}}
    normalizedProgress: {{normalizedProgress}}
</p>

<p>
    <span>Output</span>
    Error: {{downloadError}}
</p>
--}}