<!-- Index page -->
{{#jqm-page}}
  {{#jqm-header position="fixed"}}
      <div class="ermes-bar">
          <div class="ui-grid-b">
              <div class="ui-block-a">
                  {{jqm-anchor id="add-info-btn" action=(action "openPopup" "ermes-menu-fields") title=(t 'fields.header.add-info-tooltip') inline="true" allCorners="true" icon="plus" iconPos="notext" theme="b" isDisabled=editMode}}
                  {{jqm-anchor action=(action "showPanel" "index.observation") title=(t 'fields.header.observation-tooltip') inline="true" allCorners="true" icon="eye" iconPos="notext" theme="b" isDisabled=editMode}}
              </div>
              <div class="ui-block-b" align="center">
                  <h1><img src="assets/ermes-images/logo.png" class="ermes-header-logo"> {{t 'fields.header.title'}}</h1>
              </div>
              <div class="ui-block-c" align="right">
                  {{jqm-anchor id="options-btn" action=(action "openPopup" "ermes-menu-options") title=(t 'fields.header.options-tooltip') inline="true" allCorners="true" icon="gear" iconPos="notext" theme="d"}}
              </div>
          </div>
      </div>
  {{/jqm-header}}
  {{#jqm-content class="esri-map"}}
    <div class="map-container">
      {{esri-map editMode=editMode}}
      {{ermes-side-buttons editMode=editMode openPanel='showPanel'}}
    </div>
    {{ermes-menu-fields showPanel="showPanel" positionTo="#add-info-btn" id="ermes-menu-fields"}}
    {{ermes-menu-options showPanel="showPanel" positionTo="#options-btn" username=model.username id="ermes-menu-options" editMode=editMode}}
  {{/jqm-content}}
  {{outlet}}
{{/jqm-page}}
