<!-- Login page -->
{{#jqm-page}}
  {{#jqm-header position="fixed"}}
      <!--<div class="ui-grid-b">-->
          <!--<div class="ui-block-a"></div>-->
          <!--<div class="ui-block-b" align="center">-->
              <!--<h4>ERMES Smart App</h4>-->
          <!--</div>-->
          <!--<div class="ui-block-c" align="right">-->
            <!-- -->
          <!--</div>-->
      <!--</div>-->
    <h1>ERMES Smart App</h1>
  {{/jqm-header}}
  {{#jqm-content}}
      <div align="center">
        {{ermes-main-logo}}
        {{ermes-login-buttons action=(action "openPopup")}}
      </div>
      {{ermes-login-language languages=languages}}
      {{ermes-login-popup}}
      {{ermes-signup-popup regions=regions}}
  {{/jqm-content}}
{{/jqm-page}}