<!-- Login page -->
{{#jqm-page}}
  {{#jqm-header position="fixed"}}
    <h1>ERMES Smart App</h1>
  {{/jqm-header}}
  {{#jqm-content}}
      <div align="center">
        {{ermes-main-logo}}
        {{ermes-login-buttons action=(action "openPopup")}}
      </div>
      {{ermes-login-language languages=languages}}
      {{ermes-login-popup}}
      {{ermes-signup-popup regions=regions }}
  {{/jqm-content}}
{{/jqm-page}}