<!-- Login page -->
{{#jqm-page}}
  {{#jqm-header position="fixed"}}
      <h1>AgriNotebook</h1>
  {{/jqm-header}}
  {{#jqm-content}}
      <div align="center">
        {{ermes-main-logo}}
        {{ermes-login-buttons action="openPopup"}}
      </div>
      {{ermes-login-language}}
      {{ermes-login-popup pId="ermes-login-popup" logIn="logIn"}}
      {{ermes-signup-popup pId="ermes-signup-popup"}}
  {{/jqm-content}}
{{/jqm-page}}